*{
    box-sizing: border-box;
    display: block;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --mainColor: #0061FF;
    --secondaryColor: #0061FF;
    --whiteColor: #FFFFFF;
    --blackColor: #000000;
    --lightGey: #F5F5F5;
    --darkDrey: #1A1A1A;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 100dvh;
    font-size: larger;
    overflow: hidden;

    & .up{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        & a{
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 16/9;
            width: 20rem;

            & img{
                aspect-ratio: 16/9;
                object-fit: cover;
                width: 100%;
            }
        }

        & h1{
            width: 30rem;
        }

        & p{
            width: 30rem;
        }
    }

    & .recover{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 30rem;
        aspect-ratio: 16/9;
        background-color: var(--whiteColor);
        border-radius: 1rem;

        & .champ{
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 3rem;

            & label{
                position: absolute;
                top: -0.8rem;
                left: 1rem;
                background-color: var(--whiteColor);
                font-size: large;
            }

            & input{
                display: flex;
                align-items: center;
                width: 90%;
                height: 100%;
                border: none;
                border-top: 1px solid var(--darkDrey);
                border-left: 1px solid var(--darkDrey);
                border-bottom: 1px solid var(--darkDrey);
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
                font-size: large;
                outline: none;
                padding: 1rem;
            }

            & figure{
                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;
                height: 100%;
                background-color: var(--secondaryColor);
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                padding: 0.5rem;

                & img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        & .send{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: var(--secondaryColor);
            border: none;
            border-radius: 2rem;
            color: var(--whiteColor);
            padding: 1rem;
            transition: all 1s ease;

            &:hover{
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
}