*{
    box-sizing: border-box;
    display: block;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --mainColor: #0061FF;
    --secondaryColor: rgba(0, 97, 255, 0.24);

    --whiteColor: #FFFFFF;
    --smallWhiteColor: rgba(255, 255, 255, 0.24);

    --blackColor: #000000;

    --lightGey: #F5F5F5;
    --darkDrey: #1A1A1A;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100dvh;
    font-size: larger;
    overflow: hidden;

    & .menu{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
        height: 100dvh;
        background-color: var(--whiteColor);
        z-index: 100;
        transition: all 1s ease;
        transform: translateX(-100%);

        & .top{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 40dvh;
            background: url("./ressources/images/fondMenu.jpg") no-repeat center;
            background-size: cover;
            padding: 2rem;

            & .menuHead{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                & a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 8rem;
                    aspect-ratio: 16/9;
                    text-decoration: none;

                    & img{
                        width: 100%;
                    }
                }

                & button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 8rem;
                    aspect-ratio: 4/4;
                    background-color: var(--smallWhiteColor);
                    border: none;
                    border-radius: 2rem;
                    transition: all 1s ease;

                    & img{
                        width: 90%;
                    }

                    &:hover{
                        background-color: var(--mainColor);
                    }
                }
            }

            & .profile{
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 100%;
                height: 12rem;
                background: linear-gradient(180deg, rgba(255,255,255,0.08) 0%, rgba(255,255,255,0.8) 100%);
                border-radius: 2rem;
                padding: 1rem;
                text-decoration: none;

                & .initial{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    aspect-ratio: 4/4;
                    border: 2px solid var(--mainColor);
                    border-radius: 50%;
                    color: var(--mainColor);
                    font-size: 5rem;
                    text-align: center;
                }

                & .info{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1rem;
                    color: var(--whiteColor);
                    font-size: xx-large;
                    text-shadow: 0 0 4px rgba(0,0,0,0.8);
                }
            }
        }

        & nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            width: 100%;
            padding: 0 2rem;

            & a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 8rem;
                background: linear-gradient(180deg, rgba(255,255,255,0.08) 0%, rgba(6,89,255,0.2) 100%);
                border-radius: 2rem;
                padding: 0.5rem;
                text-decoration: none;
                transition: all 1s ease;

                & p{
                    font-size: x-large;
                }
            }
            & .notify, & .borrows{
                position: relative;

                & b{
                    position: absolute;
                    top: -1.5rem;
                    right: 0;
                    border: 0.25rem solid var(--secondaryColor);
                    border-radius: 2rem;
                    padding: 1rem 2rem;
                }
            }
        }

        & .theme{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 2rem;

            & p{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: x-large;
            }

            & .switch{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 32%;
                height: 6rem;
                background-color: var(--secondaryColor);
                border-radius: 4rem;
                overflow: hidden;

                & img{
                    height: 100%;
                    aspect-ratio: 4/4;
                    border-radius: 50%;

                }
                & .active{
                    background-color: var(--blackColor);
                }
            }
        }

        & footer{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

    }
    & .active{
        transform: translateX(0);
    }
}

/*RESPONSIVE MANAGEMENT(Large Screen Version)----------------------------------*/
