
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --mainColor: #0061FF;
    --secondaryColor: #36C3F5;
    --whiteColor:#ffff;
    --blackColor: #000000;
    --darkGreyColor: #F5F5F5;
    --lightGreyColor: #D9F5FF;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100vh;
}